@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg: #F7FDFF;
  --light-text: #111;
  --gradient-purple: #BC00BC;
  --gradient-blue: #0381FF;
  --accent-1: #EEF6F9;
  --accent-2: #e0e8ee;
  --bg-light-upper-right: #EAF5FF;
  --bg-light-lower-left: #F7ECFA;
}

body {

  background: var(--light-bg); /* fallback color */
  background: linear-gradient(to bottom right, var(--bg-light-upper-right), var(--bg-light-lower-left));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* background-image: url('/img/bg.png'); */
  /* background-position: right bottom; */
  /* background-repeat: no-repeat; */
  /* background-color: var(--light-bg) !important; */
  color: var(--light-text);
  min-height: 100vh;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.main {
  min-height: calc(100vh - 106px);
}

.gradient-header {
  background: -webkit-linear-gradient(45deg, var(--gradient-purple), var(--gradient-blue) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.2);
}

h1 {
  display: inline-block;
  font-size: calc(2rem + 1.5vw) !important;
  /* margin-top: 1rem !important;
  padding-bottom: 1.3rem !important; */
  text-shadow: 2px 2px 15px rgba(0,0,0,0.2);
  @apply gradient-header font-bold;
}

h2 {
  margin-top: 2rem !important;
  @apply text-xl font-bold;
}

h3 {
  margin-top: 1.3rem !important;
  font-weight: 400 !important;
  @apply text-lg font-bold;
}

p {
  font-size: 18px;
  @apply mb-4;
}

a {
  @apply text-gradientBlue;
}

article a:not(.stylized-li) {
  @apply border-b border-b-gray-300 text-gray-700 hover:border-b-black hover:text-black transition;
}

p code, li code {
  color: red;
  /* background-color: rgb(29, 31, 33); */
  /* @apply py-1 px-2 rounded; */
}

.blog-post .callout, .blog-post blockquote {
  @apply my-2 p-4 border bg-accent-1 border-accent-2 rounded-lg mb-2 mx-auto;
}

.callout {
  @apply flex gap-2;
}

.blog-post figure {
  @apply flex items-center italic flex-col text-gray-500;
}

.blog-post img {
  @apply border border-accent-2 rounded mb-2 mx-auto;
}

.blog-post .header-img {
  @apply rounded-3xl;
}

.blog-post ul, .blog-post ol {
  @apply ml-4 mb-4;
}

.blog-post ul {
  @apply list-disc;
}

.blog-post ol {
  @apply list-decimal;
}

.youtube-embed {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 5px;
  border: 1px solid var(--accent-2);
  margin-bottom: 15px;
}

.youtube-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.work-history ul {
  @apply list-disc ml-4 mb-4
}