body
  padding: 0px;
  margin: 0px;

  .navbar
    max-width: 1140px;

  .nav 
    padding: 15px 10px;

  .hero-wrapper
    background: url('../img/hero-bg.jpg')

    .hero
      padding-top: 80px;
      padding-bottom: 40px;

      .hero-header
        color: white;

      .hero-content
        padding: 10px;
        border: 2px solid #12b8f2;
        border-radius: 4px;
        background: white;

  .hero-cta-wrapper
    background-color: #6643A6;
    height: 74px;