// My Branding
$bmme-dark-blue: #071a2b
$bmme-light-blue: #12b8f2

// Theme
$light-bg: #eaeaea;
$light-container: #efefef;

// Other Branding
$twitch-purple: #6643a6
$twitch-purple-dark: #4c2a8c
$twitter-blue: #1DA1F2
$instagram-pink: #E4405F
$github-green: #2DBA4E
$youtube-red: #D60C1C
$discord-purple: #7289DA;

body
  padding: 0px;
  margin: 0px;
  background-color: $light-bg !important; // TODO: Make this the footer color and set this on the container wrapper

  h1,h2,h3,h4,h5,h6
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

  h4
    font-size: 1.3rem;

  a
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid $bmme-light-blue;
    &:hover
      text-decoration: none;
      color: inherit;
      border-bottom: 2px solid $bmme-dark-blue;

  // Nav
  .navbar
    margin-top: 10px;
    max-width: 1140px;
    color: white;
    text-transform: uppercase;

    .navbar-toggler-icon
      background: url('/img/menu-icon.png') no-repeat center;

    a
      border-bottom: none;

    .nav-text-item
      padding: 10px;
      a
        color: white;
        text-decoration: none;
        &:hover
          border-bottom: 2px solid $bmme-light-blue;
          margin-bottom: -2px;
    
    .nav-social-item
      padding: 10px 0px !important;
      a
        color: white;
        text-decoration: none;
        &:hover
          margin-bottom: -2px;

    .nav-social-items
      display: inline-block;
      padding-top: 10px;
      a
        display: inline-block;
        padding-right: .5rem;
        padding-left: .5rem;

    .nav-link-twitch:hover
        border-bottom: 2px solid $twitch-purple

    .nav-link-twitter:hover
        border-bottom: 2px solid $twitter-blue

    .nav-link-instagram:hover
        border-bottom: 2px solid $instagram-pink

    .nav-link-youtube:hover
        border-bottom: 2px solid $youtube-red

    .nav-link-github:hover
        border-bottom: 2px solid $github-green

  .nav 
    padding: 15px 10px;

  .hero-wrapper
    background: url('/img/hero-bg.jpg')

    .hero
      padding-top: 80px;
      padding-bottom: 100px;
      // height: 100vh;
      color: white;
      border-bottom: 2px solid #333;

      .hero-header
        font-size: 72px;

      .hero-content
        color: white;
        font-size: 24px;

  .home-panel
    background-color: rgba($light-container,0.9);
    color: #111;
    padding: 25px;
    border-radius: 15px;
    margin: 15px 0px;
    box-shadow: 5px 10px 10px rgba(12,12,12,0.05);

  .cta
    padding: 30px 0px;

  .social-widget
    div
      a 
        color: #111;
        text-decoration: none;
        font-weight: 500;
        border-bottom: 2px solid $bmme-light-blue;

        &:hover
          // color: #cccccc;
          border-bottom: 2px solid $bmme-light-blue;
      img
        margin: 15px 10px;

  .discord-widget
    background-color: #121212;
    border: 1px solid #333;
    border-radius: 15px;
    display: flex;
    flex-direction: row;

    .content-panel
      display: flex;
      flex-direction: column;
      flex: 3;
      padding: 3px 10px;

      .info-panel
        color: #777;
      
    .connect-button
      border-left: 1px solid #333;
      flex: 1;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px 15px 15px 0px;
      &:hover
        background-color: $discord-purple;
      i
        padding-right: 5px;

  .parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  .blog-title
    color: white;

  .post-excerpt
    color: white;
    background-color: rgba(12,12,12,0.9);
    border-radius: 15px;
    margin: 15px 0px;
    padding: 25px;
    box-shadow: 5px 10px 10px rgba(12,12,12,0.4);

  .post-excerpt-meta
    font-style: italic;
    color: #777

  .post
    color: white;
    background-color: rgba(12,12,12,0.9);
    border-radius: 15px;
    margin: 15px 0px;
    padding: 25px;
    box-shadow: 5px 10px 10px rgba(12,12,12,0.4);
    

  .footer-wrapper
    padding: 15px 0px;
    border-top: 1px solid #333333;
    // background-color: #1E1D1D;
    background-color: #111111;
    color: #777;

  