body
  padding: 0px;
  margin: 0px;

  .navbar
    max-width: 1140px;

  .nav 
    padding: 15px 10px;

  .hero-wrapper
    background: url('../img/hero-bg.jpg')

    .hero
      padding-top: 80px;
      padding-bottom: 40px;

      .hero-header
        color: white;

      .hero-content
        padding: 10px;
        border: 2px solid #12b8f2;
        border-radius: 4px;
        background: white;

  .cta
    padding: 30px 0px;

  .hero-cta
    background-color: #6643A6;

  .skills-cta
    background-color: #cccccc;

  .contact-area
    color: #eeeeee;

  .contact-wrapper
    background: url('../img/contact-bg.png')

  .social-widget
    div
      a 
        color: #eeeeee;
        text-decoration: none;
        &:hover
          color: #cccccc;
      img
        margin: 15px;
      
  .parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;